.DS_Store
.vs/

node_modules/
package-lock.json
package.json
src/entities/packets-of-pain.code-workspace
.venv
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.cache/
*.egg-info
dist/
build/
venv/
*.egg-info/
